In [8]:
import numpy as np
import pandas as pd
import sqlite3

import matplotlib.pyplot as plt

# Домашняя работа

Нужно придумать небольшую базу данных и написать к ней запросы.

В базе должно быть минимум 4 таблицы и хотя бы две связи вида one-to-many или many-to-many. Можно решить как при помощи pandas, так и при помощи SQL.

Запросы должны быть осмысленными и должны решать какую-то задачу.

## Создание базы данных

In [11]:
mech_name = ["Atlas", "Awesome", "Marauder", "Catapult", "Blackjack", "Griffin", "Jenner", "Spyder"]
mech_mass = [100, 85, 75, 65, 45, 55, 35, 25]
mech_bv = np.random.randint(500,2000,8)

mech_df = pd.DataFrame({'name': mech_name, 'mass' : mech_mass, 'battlevalue': mech_bv})
mech_df.describe()

            mass  battlevalue
count    8.00000     8.000000
mean    60.62500  1380.500000
std     25.55631   527.937767
min     25.00000   668.000000
25%     42.50000   930.000000
50%     60.00000  1336.500000
75%     77.50000  1947.250000
max    100.00000  1976.000000

# Easy

Выгрузить данные и отфильтровать их по какому-то значению.

Пример запроса с БД, приведенной выше: вывести учителей старше 30 лет.

# Normal

Написать запрос на объединение двух или более таблиц, также в запросе должна быть фильтрация

Пример запроса с БД, приведенной выше: найти имя учителя моложе 30 лет, который ведет математику

# Hard

Написать запрос, который посчитает какую-то сложную аналитику по БД, используя как можно больше таблиц. Построить графики и сделать выводы.

Пример запроса с БД, приведеной выше: задание 5.