In [1]:
import pandas as pd

# Домашнее задание

Для выполнения задач Easy и Normal опять используем данные Титаника

## Easy

Вычислить вероятность выживания, если пассажиру:

- от 0 до 25 лет
- от 25 до 50 лет
- от 50 лет и старше

In [2]:
df = pd.read_csv("../hw_data/titanic/train.csv")
print(df.shape)
df.head(1)

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

Вероятность выживания до 25л:

Вероятность попадания в группу 0-25л * выживание в этой группе

In [27]:
def get_P(df, filtered_df):
    P = filtered_df["PassengerId"].count() / df["PassengerId"].count()
    Ps = (filtered_df[filtered_df["Survived"]==1]["PassengerId"].count() / filtered_df["PassengerId"].count()) * P
    return Ps

In [28]:
df_lt25 = df[df["Age"]<25]
Pslt25 = get_P(df, df_lt25)
print (Pslt25)

0.1324354657687991

In [29]:
df_25_50 = df[(df["Age"]>=25)&(df["Age"]<50)]
Ps25_50 = get_P(df, df_25_50)
print (Ps25_50)

0.16273849607182939

In [30]:
dfgt50 = df[(df["Age"]>=50)]
Psgt50 = get_P(df, dfgt50)
print (Psgt50)

0.0303030303030303


## Normal

Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [36]:
count_w = df[df["Sex"]=='female']["PassengerId"].count()
count_sw = df[(df["Sex"]=='female')&(df["Survived"]==1)]["PassengerId"].count()
count_s = df[(df["Survived"]==1)]["PassengerId"].count()
count_tot = df["PassengerId"].count()

In [40]:
Pw =  count_w / count_tot
Psw = count_sw / count_s
Ps = count_s / count_tot
Pfull = Pw * Psw

Piswoman = (Pw * Ps) / Pfull
print (Piswoman)

0.5634022629730784

## Hard

Закон распределения задается функцией плотности 

$ f(x) = \lambda e^{-\lambda x}, x > 0 $

$ f(x) = 0, x <= 0 $

Найти вероятность того, что событие произойдет при $x \in [1, 2]$

P.S. в scipy есть функция для интегрирования функции